$dark-plum: #4F0433;
$orange: #FF876F;
$light-orange: darken(#FEEEEB, 5%); // the actual KI color is a little light for many potential use cases
$light-blue: #EDF4F4;
$logo-plum: #870052;
$medium-grey: #CCD1D5;

$color-primary: $dark-plum;
$color-secondary: $light-orange;
