.quarto-title-banner {
    color: $medium-grey !important;
    background-color: $dark-plum;

    h1 {
        color: white;
    }
}

.navbar {
    color: $dark-plum !important;
    background-color: $dark-plum !important;
}
