// mixin to customise listing and quarto category classes
@mixin custom-category($bg, $highlight, $hover-bg, $hover-highlight, $border-width: 1px) {
    color: $text-muted !important;
    background-color: $bg !important;
    border: solid $highlight $border-width !important;
    opacity: 0.8 !important;

    // add a hover effect
    &:hover {
        background-color: $hover-bg !important;
        border: solid $hover-highlight $border-width !important;
        color: $highlight !important;
    }
}
